hr{
    margin: 30px;
	
}

body{
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../imagens/fundo.png);
}

#top{
    padding: 0.5%;
    border-radius: 15px;
    margin: 1% 15% 1% 15%;
    background-image: linear-gradient(#006660, #000666);
}

#top_2{
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(../imagens/lep.gif);
}

#info_1{
    color: #888888;
    text-align: right;
    font-family: consolas;
}

#corpo{
    padding: 2%;
    border-radius: 15px;
    margin: 1% 15% 1% 15%;
    background-image:radial-gradient(#cccccc, #ffffff);
}

.prev_img{
    border-radius: 10px;
    position: relative;
    float: left;
    margin-right: 12.5%;
}

.desc_pag, .link{
    text-align: right;
    margin-left: 12.5%;
}

.link{
    color: #000666;
    font-family: monospace;
    font-size: 200%;
}

.desc_pag{
    font-weight: bold;
    font-family: courier;
}

.programa{
    margin: 25%;
    background-image: radial-gradient(#aaaaaa, #bbbbbb);
    border-radius: 5px;
    border: 3px;
    border-style: inset;
}

.sourcefont{
    padding: 3%;
    color: #000000;
    font-family: consolas;
}

.main_img{
  margin: 0% 5% 2% 5%;
  border-radius: 15px;
  }

  .titulo{
    text-align: center;
    font-family: monospace;
  }

  .conteudo{
    text-align: justify;
    font-family: courier;
    font-weight: bold;
    margin: 0% 5% 2% 5%;
  }

  li{
    font-style: courier;
  }
